{% block backend_variables_form %}

    {% block backend_variables_form_name %}
        <input type="text"
               name="variable-name"
               class="webu-input-text col-2"
               id="variable-name-input"
               data-label="Name"
               data-label-position="top"
               value="{% if variable.name %}{{ variable.name }}{% endif %}"
               required
        />
    {% endblock %}

    {% block backend_variables_form_namespace %}
        <input type="text"
               name="variable-namespace"
               class="webu-input-text col-2"
               id="variable-namespace-input"
               data-label="Namespace"
               data-label-position="top"
               value="{% if variable.namespace %}{{ variable.namespace }}{% endif %}"
               required
        />
    {% endblock %}


    <div class="spacer-m"></div>


    {% block backend_variables_form_type %}

        {% set variableTypes = {
            "text" : "Text",
            "color" : "Farbe",
            "number" : "Zahl"
        } %}

        <label for="variable-type-input" style="width:100%">Variablen Typ:</label>

        <select class="webu-custom-select col-2" name="variable-type" id="variable-type-input">
            {% for key, type in variableTypes %}
                <option value="{{ key }}"
                    {% if variable and variable.type == key %}selected{% endif %}
                >
                    {{ type }}
                </option>
            {% endfor %}
        </select>
    {% endblock %}



    {% block backend_variables_form_id_hidden %}
        <input
            type="hidden"
            name="variable-id"
            id="variable-id-input"
            value="{% if variable %}{{ variable.id }}{% endif %}"
        />
    {% endblock %}


    <div class="spacer-l"></div>


    {% block backend_variables_form_value %}
        <div data-toggle-page-toggle-id="variable-type-input"
             data-toggle-page-case="text"
             data-toggle-page>

            <input type="text"
                   name="variable-value-text"
                   class="webu-input-text col-2"
                   id="variable-value-input"
                   data-label="Name"
                   data-label-position="top"
                   value="{% if variable %}{{ variable.value }}{% endif %}"
                   required
            />

        </div>


        <div data-toggle-page-toggle-id="variable-type-input"
             data-toggle-page-case="color"
             data-toggle-page>

            {% set default = '#000000ff' %}
            {% if variable.value %}
                {% set default = variable.value %}
            {% endif %}

            {% include "backend/_custom/color-picker.html.twig" with {
                'name' : 'variable-value-color',
                'default' : default
            } %}

        </div>



        <div data-toggle-page-toggle-id="variable-type-input"
             data-toggle-page-case="number"
             data-toggle-page>

            <input type="number"
                   name="variable-value-number"
                   class="col-2"
                   id="variable-value-input"
                   value="{% if variable and variable.type=="number" %}{{ variable.value }}{% else %}0{% endif %}"
                   required
            />

        </div>

    {% endblock %}




    <div class="spacer-l"></div>


    {% block backend_variables_form_type_submit %}
        <button class="btn btn-primary" type="submit" name="button">
            Speichern
        </button>
    {% endblock %}


{% endblock %}