Content

<br>
<br>


<div class="icon-preview">
    
        <div class="icon-preview-container">{{ "arrow-right"|icon }} arrow-right</div>
        <div class="icon-preview-container">{{ "burger"|icon }} burger</div>
        <div class="icon-preview-container">{{ "config"|icon }} config</div>
        <div class="icon-preview-container">{{ "cross"|icon }} cross</div>
        <div class="icon-preview-container">{{ "delete"|icon }} delete</div>
        <div class="icon-preview-container">{{ "edit"|icon }} edit</div>
        <div class="icon-preview-container">{{ "heart"|icon }} heart</div>
        <div class="icon-preview-container">{{ "home"|icon }} home</div>
        <div class="icon-preview-container">{{ "html"|icon }} html</div>
        <div class="icon-preview-container">{{ "logo"|icon }} logo</div>
        <div class="icon-preview-container">{{ "page"|icon }} page</div>
        <div class="icon-preview-container">{{ "profile"|icon }} profile</div>
        <div class="icon-preview-container">{{ "reload"|icon }} reload</div>
        <div class="icon-preview-container">{{ "search"|icon }} search</div>
        <div class="icon-preview-container">{{ "simple-arrow"|icon }} simple-arrow</div>
        <div class="icon-preview-container">{{ "variable"|icon }} variable</div>
        <div class="icon-preview-container">{{ "warning"|icon }} warning</div>
        <div class="icon-preview-container"></div>

</div>
<br>



<select class="webu-custom-select" name="test">
    <option value="A">Option A</option>
    <option value="B">Option B</option>
    <option value="C" selected>Option C</option>
    <option value="D">Option D</option>
    <option value="E">Option E</option>
</select>

<br>
<br>

{% for i in 0..100 %}
    -- {{ i }} - content <br>
{% endfor %}